body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-image: url(images/background.jpg); /*****set background image****/
  background-attachment: fixed; /********stop image from repeating*****/
  /*background-color: #5f6caf;*/
  color: black;
  background-position: center;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

a{
  text-decoration: none;
}

.middle-container{
padding: 1rem 6.25rem .5rem 6.35rem;
}

.bottom-container{
  position: relative;
  margin: auto;
  clear:both; /*stops bottom container from getting caught in the float command*/
}

.huddle-head{
  display: inline-block;
  padding-left: 50px;
  margin-top: 1.5rem;
}

.huddle-text{
  display: inline-block;
  margin-left: 5px;
  margin-top: 1.5rem;
}

.black{
  color: black;
}

.box{
  display: block;
}

.community{
  width: 50%;
  text-align: left;
  float:right;
}

.social-icons{
  text-align: right;
  padding-right: 6.25rem;
}

.myButton {
	box-shadow: 0 10px 14px -7px #276873;
	background-color:lightslategray;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}

.myButton:hover {
	background-color:#408c99;
}

.myButton:active {
	position:relative;
	top:1px;
}

.icons{
  font-size: 0.5rem;
}
